@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  background: #e8f0e4;
  line-height: 1.5;
  margin: 0 auto;
  width: 70%;
}

h1 {
  font-size: 4em;
  color: #351d77;
  text-decoration: underline #e9b14c;
}

.btn {
  width: 7em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #351d77;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.5em;
  font-weight: 500;
}

.btn:hover {
  background-color: #e9b14c;
  color: #351d77;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 5em;
  margin-left: 2em;
}

.left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#error-msg {
  display: none;
  color: #f00;
  align-self: flex-start;
  font-size: 1.2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 2em;
  align-self: flex-start;
  color: #351d77;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.right input {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  width: 100%;
  border-radius: 0.5em;
  border: none;
  outline: none;
  color: #351d77;
  padding: 1em;
}

.right .btn {
  display: flex;
  align-self: flex-end;
  padding: 0;
  justify-content: center;
}

.score-list {
  border: 4px solid #e9b14c;
  border-radius: 0.5em;
  width: 100%;
  list-style: none;
  font-size: 1.5em;
}

.score-list li {
  margin: 1em 0;
}
